{% extends "contact_form/base.html" %}
{% load bootstrap3 %}

{% block header %}
    <h2>Emergency Contact</h2>
{% endblock header %}

{% block content %}
  <h3>Please enter the information on the person who can be contacted in an emergency.</h3>
  <p>If you have previously checked "add this person as emergency contact", you do not need to list them again.</p>
  <p>If all the pickup persons you listed are also marked as emergency contacts,
      <a href="{% url 'contact_form:user_new_doctor_initial' student.id %}">you may skip this step.</a>
  </p>
  <form action="{% url 'contact_form:user_new_contact_initial' student.id %}" method="post" class="form">
      {% csrf_token %}
      {% bootstrap_form form %}

      {% buttons %}
      <button name="add_another">Save and Add another Contact</button>
      <button name="submit" class="btn btn-primary">Save and Continue</button>
      {% endbuttons %}

  </form>
  <p>
      If you would like no one but the parents/guardians to be contacted in an emergency, you may
      <a href="{% url 'contact_form:user_new_doctor_initial' student.id %}">skip to the next step</a>
  </p>
{% endblock content %}