{% extends "contact_form/base.html" %}

{% block header %}
    <h1>{{ student }}</h1>
    <h3>Attendance and Meal Count</h3>
{% endblock header %}

{% block content %}
    <table width="100%" border="1">
        <tr>
            <th>DATE</th>
            <th>ATT</th>
            <th>BR</th>
            <th>LU</th>
            <th>PM</th>
            <th>SU</th>
            <th>EV</th>
        </tr>
      {% for day in days %}
        <tr>
            <td>{{ day.date }}</td>
            <td>{{ day.attended }}</td>
            <td>{{ day.breakfast }}</td>
            <td>{{ day.lunch }}</td>
            <td>{{ day.pm_snack }}</td>
            <td>{{ day.supper }}</td>
            <td>{{ day.evening_snack }}</td>
        </tr>
      {% empty %}
        <tr><td>No attendance record found.</td></tr>
      {% endfor %}
    </table>


{% endblock content %}