{% extends 'contact_form/base.html' %}

{% block header %}
<h2>{{ group }}</h2>
{% endblock header %}

{% block content %}

  <p>Students:</p>

      <table width="100%" border="1">
      {% for student in students %}
        <tr>
            <td>{{ student }}</td>
            <td><a href="{% url 'contact_form:student' student.id %}">View Info</a></td>
            <td><a href="{% url 'attendance:attendance_view' student.id %}">View Attendance and Meal Count</a></td>
            <td><a href="{% url 'attendance:mark_student' student.id %}">Mark Attendance and Meal Count</a></td>
        </tr>
      {% empty %}
        <tr><td>There are no children in this classroom yet.</td></tr>
      {% endfor %}
      </table>


{% endblock content %}