{% extends "contact_form/base.html" %}

{% block header %}
    <h1>Classrooms</h1>
    <p><a href="{% url 'attendance:new_group' %}">Add a new Classroom</a></p>
{% endblock header %}

{% block content %}

  <ul>
      {% for group in groups %}
        <li>
            <h4>{{ group }}:&nbsp
                <a href="{% url 'attendance:group' group.id %}">Students</a>
            </h4>
        </li>
      {% empty %}
        <li>No classrooms have been added yet.</li>
      {% endfor %}
  </ul>



{% endblock content %}