{% extends 'contact_form/base.html' %}

{% block header %}
<h2>{{ group }}</h2>
{% endblock header %}

{% block content %}

  <p>Students:</p>

  <ul>
      {% for student in students %}
      <form method="post" action="{% url 'attendance:mark_student' student.id%}">
        {% csrf_token %}
        {{ form.as_p }}



      {% empty %}
        <li>
            There are no children in this classroom yet.
        </li>

      {% endfor %}
          <button name="submit">Save</button>
          <input type="hidden" name="next" value="{% url 'attendance:groups' %}" />
      </form>
  </ul>


{% endblock content %}