{% extends "contact_form/base.html" %}

{% block header %}
    <h1>Children</h1>
    <h2><a href="{% url 'contact_form:user_new_student_initial' %}">Add a new Child</a></h2>
{% endblock header %}

{% block content %}

  <ul>
      {% for student in students %}
        <li>
            <h4><a href="{% url 'contact_form:student' student.id %}">{{ student }}</a></h4>
        </li>
      {% empty %}
        <li>No children have been added yet.</li>
      {% endfor %}
  </ul>

  <h3><a href="{% url 'contact_form:new_student' %}">Add Child (Advanced)</a></h3>


{% endblock content %}