{% extends 'contact_form/base.html' %}

{% block content %}
        <p align="center"><a href="{% url 'contact_form:student' student.id %}">{{ student }}</a></p>
        <h3 align="center">EMERGENCY CONTACT/PARENTAL CONSENT FORM</h3>
        <h5 align="center">55 PA CODE CHAPTERS 3270.124(a)(b),3270.181 & 182; 3280.124(a)(b), 3280.181 & 182; 3290.124(a)(b), 3290.181 & 182</h5>

        <table style="width:100%" border="1">

            <!--Child Name and Address-->
            <tr>
                <td><b>Child's Name: </b>{{ student }}</td>
                <td><b>Birthdate: </b>{{ student.date_of_birth }}</td>
                <td><b>Address: </b>{{ student.get_mailing_address }}</td>
            </tr>

            <!--Parents/Guardians Info-->
            {% for parent in parents %}
                <tr>
                    <td colspan="2">
                        <b>{{ parent.get_relationship_display }}'s Name: </b>
                        {{ parent.first_name }} {{ parent.last_name }}
                    </td>
                    <td><b>Home Number: </b>{{ parent.primary_number }}</td>
                </tr>
                <tr>
                    <td>
                        <b>Address: </b>{% if not parent.street %}NONE{% else %}{{ parent.get_mailing_address }}{% endif %}
                    </td>
                    <td><b>Email Address: </b>{% if not parent.email_address %}NONE{% endif %}{{ parent.email_address }}</td>
                    <td>
                        <b>Cell Number: </b>
                        {% if not parent.secondary_number %}NONE{% endif %}{{ parent.secondary_number }}
                    </td>
                </tr>
                <tr>
                    <td><b>Business Name: </b>{% if not parent.business_name %}NONE{% endif %}{{ parent.business_name }}</td>
                    <td>
                        <b>Business Address: </b>
                        {% if not parent.bus_street %}NONE{% else %}{{ parent.get_business_address }}{% endif %}
                    </td>
                    <td><b>Work Number: </b>{% if not parent.work_number %}NONE{% endif %}{{ parent.work_number }}</td>
                </tr>
            {% endfor %}

            <!--Emergency contact persons-->
            <tr>
                <td colspan="2"><b>Emergency Contact Person(s)</b></td>
                <td><b>Phone Number when Child is in Care</b></td>
            </tr>
            {% for adult in adults %}
            {% if adult.relationship == "EC" or adult.relationship == "PP"  and adult.is_contact %}
            <tr>
                <td colspan="2">{{ adult.first_name }} {{ adult.last_name }}</td>
                <td>{{ adult.primary_number }}</td>
            </tr>
            {% endif %}
            {% endfor %}

            <!--Persons to whom child may be released-->
            <tr>
                <td><b>Person(s) to whom Child May be Released</b></td>
                <td><b>Address</b></td>
                <td><b>Phone Number</b></td>
            </tr>
            {% for adult in adults %}
            {% if adult.relationship == "PP" %}
            <tr>
                <td>{{ adult.first_name }} {{ adult.last_name }}</td>
                <td>{% if not adult.street %}NONE{% else %}{{ adult.get_mailing_address }}{% endif %}</td>
                <td>{{ adult.primary_number }}</td>
            </tr>
            {% endif %}
            {% endfor %}

            <!-- Doctor info -->
            {% for adult in adults %}
            {% if adult.relationship == "MP" %}
            <tr>
                <td><b>Name of Child's Physician/Medical Care Provider</b></td>
                <td><b>Provider Address</b></td>
                <td><b>Phone Number</b></td>
            </tr>
            <tr>
                <td>{{ adult.first_name }} {{ adult.last_name }} {{ adult.business_name }}</td>
                <td>{% if not adult.bus_street %}NONE{% else %}{{ adult.get_business_address }}{% endif %}</td>
                <td>{{ adult.work_number }}</td>
            </tr>
            {% endif %}
            {% endfor %}

            <!-- Child Medical Info -->
            <tr>
                <td><b>Special Disabilities (If Any)</b></td>
                <td colspan="2"><b>Allergies (Including Medication Reactions)</b></td>
            </tr>
            <tr>
                <td>{% if not student.disabilities %}NONE{% endif %}{{ student.disabilities }}</td>
                <td colspan="2">{% if not student.allergies %}NONE{% endif %}{{ student.allergies }}</td>
            </tr>
            <tr>
                <td><b>Medical/Dietary Info Necessary in Emergency Situation</b></td>
                <td colspan="2"><b>Medications/Special Conditions</b></td>
            </tr>
            <tr>
                <td>{% if not student.emergency_medical_info %}NONE{% endif %}{{ student.emergency_medical_info }}</td>
                <td colspan="2">{% if not student.medications %}NONE{% endif %}{{ student.medications }}</td>
            </tr>
            <tr>
                <td colspan="3"><b>Additional Information on Special Needs of Child</b></td>
            </tr>
            <tr>
                <td colspan="3">{% if not student.additional_info %}NONE{% endif %}{{ student.additional_info }}</td>
            </tr>
            <tr>
                <td colspan="2"><b>Health Insurance Coverage for Child or Medical Assistance Benefits</b></td>
                <td><b>Policy Number (Required)</b></td>
            </tr>
            <tr>
                <td colspan="2">{% if not student.health_insurance %}NONE{% endif %}{{ student.health_insurance }}</td>
                <td>{% if not student.policy_number %}NONE{% endif %}{{ student.policy_number }}</td>
            </tr>
            <!--Permissions signature section-->
            <tr>
                <td colspan="3" align="center" bgcolor="black"><font color="white"><b>Parent Signature is Required for Each Item Below to Indicate Parental Consent</b></font></td>
            </tr>
            <tr>
                <td><b>Obtaining Emergency Medical Care</b></td>
                <td colspan="2"><b>Admin. of Minor Fist Aid Procedures</b></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr>
                <td><b>Walks and Trips</b></td>
                <td colspan="2"><b>Swimming</b></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr>
                <td><b>Transportation by Facility</b></td>
                <td colspan="2"><b>Wading</b></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2"><b>Signature of Parent or Guardian</b></td>
                <td><b>Date </b>{% now "F jS Y" %}</td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2"><b>Signature of Parent or Guardian</b></td>
                <td><b>Date </b>{% now "F jS Y" %}</td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        </table>
{% endblock content %}