{% extends 'contact_form/base.html' %}

{% block content %}
        <h3 align="center">EMERGENCY CONTACT/PARENTAL CONSENT FORM</h3>
        <h5 align="center">55 PA CODE CHAPTERS 3270.124(a)(b),3270.181 & 182; 3280.124(a)(b), 3280.181 & 182; 3290.124(a)(b), 3290.181 & 182</h5>
        <table style="width:100%">
            <!--Child Name and Address-->
            <tr>
                <td width="75%" colspan="2"><b>Child's Name</b></td>
                <td><b>Birthdate</b></td>
            </tr>
            <tr>
                <td colspan="2">{{ student }}</td>
                <td>{{ student.date_of_birth }}</td>
            </tr>
            <tr>
                <td colspan="3"><b>Address</b></td>
            </tr>
            <tr>
                <td colspan="3">{{ student.get_mailing_address }}</td>
            </tr>

            <!--Parents/Guardians Info-->
            {% for adult in adults %}
            {% if adult.relationship == "MO" or adult.relationship == "FA" or adult.relationship == "LG" %}
            <tr>
                <td colspan="2"><b>{{ adult.get_relationship_display }}'s Name</b></td>
                <td><b>Home Number</b></td>
            </tr>

            <tr>
                <td colspan="2">{{ adult.first_name }} {{ adult.last_name }}</td>
                <td>{{ adult.primary_number }}</td>
            </tr>
            <tr>
                <td colspan="2"><b>Address</b></td>
                <td><b>Cell Number</b></td>
            </tr>
            <tr>
                <td colspan="2">{% if not adult.street %}NONE{% else %}{{ adult.get_mailing_address }}{% endif %}</td>
                <td>{% if not adult.secondary_number %}NONE{% endif %}{{ adult.secondary_number }}</td>
            </tr>
            <tr>
                <td width="50%"><b>Business Name</b></td>
                <td width="25%"><b>Email Address</b></td>
                <td width="25%"><b>Work Number</b></td>
            </tr>
            <tr>
                <td>{% if not adult.business_name %}NONE{% endif %}{{ adult.business_name }}</td>
                <td>{% if not adult.email_address %}NONE{% endif %}{{ adult.email_address }}</td>
                <td>{% if not adult.work_number %}NONE{% endif %}{{ adult.work_number }}</td>
            </tr>
            {% endif %}
            {% endfor %}

            <!--Emergency contact persons-->
            <tr>
                <td colspan="2"><b>Emergency Contact Person(s)</b></td>
                <td><b>Phone Number when Child is in Care</b></td>
            </tr>
            {% for adult in adults %}
            {% if adult.relationship == "EC" or adult.relationship == "PP"%}
            <tr>
                <td colspan="2">{{ adult.first_name }} {{ adult.last_name }}</td>
                <td>{{ adult.primary_number }}</td>
            </tr>
            {% endif %}
            {% endfor %}

            <!--Persons to whom child may be released-->
            <tr>
                <td width="50%"><b>Person(s) to whom Child May be Released</b></td>
                <td width="25%"><b>Address</b></td>
                <td><b>Phone Number</b></td>
            </tr>
            {% for adult in adults %}
            {% if adult.relationship == "PP" %}
            <tr>
                <td width="50%">{{ adult.first_name }} {{ adult.last_name }}</td>
                <td width="25%">{% if not adult.street %}NONE{% else %}{{ adult.get_mailing_address }}{% endif %}</td>
                <td width="25%">{{ adult.primary_number }}</td>
            </tr>
            {% endif %}
            {% endfor %}

            <!-- Doctor info -->
            {% for adult in adults %}
            {% if adult.relationship == "MP" %}
            <tr>
                <td colspan="2"><b>Name of Child's Physician/Medical Care Provider</b></td>
                <td><b>Phone Number</b></td>
            </tr>
            <tr>
                <td colspan="2">{{ adult.first_name }} {{ adult.last_name }} {{ adult.business_name }}</td>
                <td>{{ adult.primary_number }}</td>
            </tr>
            <tr>
                <td><b>Provider Address</b></td>
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr>
                <td>{% if not adult.street %}NONE{% else %}{{ adult.get_mailing_address }}{% endif %}</td>
                <td colspan="2">&nbsp;</td>
            </tr>
            {% endif %}
            {% endfor %}

            <!-- Child Medical Info -->
            <tr>
                <td><b>Special Disabilities (If Any)</b></td>
                <td colspan="2"><b>Allergies (Including Medication Reactions)</b></td>
            </tr>
            <tr>
                <td>{% if not student.disabilities %}NONE{% endif %}{{ student.disabilities }}</td>
                <td colspan="2">{% if not student.allergies %}NONE{% endif %}{{ student.allergies }}</td>
            </tr>
            <tr>
                <td><b>Medical/Dietary Info Necessary in Emergency Situation</b></td>
                <td colspan="2"><b>Medications/Special Conditions</b></td>
            </tr>
            <tr>
                <td>{% if not student.emergency_medical_info %}NONE{% endif %}{{ student.emergency_medical_info }}</td>
                <td colspan="2">{% if not student.medications %}NONE{% endif %}{{ student.medications }}</td>
            </tr>
            <tr>
                <td colspan="3"><b>Additional Information on Special Needs of Child</b></td>
            </tr>
            <tr>
                <td colspan="3">{% if not student.additional_info %}NONE{% endif %}{{ student.additional_info }}</td>
            </tr>
            <tr>
                <td colspan="2"><b>Health Insurance Coverage for Child or Medical Assistance Benefits</b></td>
                <td><b>Policy Number (Required)</b></td>
            </tr>
            <tr>
                <td colspan="2">{% if not student.health_insurance %}NONE{% endif %}{{ student.health_insurance }}</td>
                <td>{% if not student.policy_number %}NONE{% endif %}{{ student.policy_number }}</td>
            </tr>
            <!--Permissions signature section-->
            <tr>
                <td colspan="3" align="center" bgcolor="black"><font color="white"><b>Parent Signature is Required for Each Item Below to Indicate Parental Consent</b></font></td>
            </tr>
            <tr>
                <td><b>Obtaining Emergency Medical Care</b></td>
                <td colspan="2"><b>Admin. of Minor Fist Aid Procedures</b></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr>
                <td><b>Walks and Trips</b></td>
                <td colspan="2"><b>Swimming</b></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr>
                <td><b>Transportation by Facility</b></td>
                <td colspan="2"><b>Wading</b></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2"><b>Signature of Parent or Guardian</b></td>
                <td><b>Date </b>{% now "F jS Y" %}</td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2"><b>Signature of Parent or Guardian</b></td>
                <td><b>Date </b>{% now "F jS Y" %}</td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        </table>
{% endblock content %}